.reactMarkDown h1 {
  margin-top: 42px;
}

.reactMarkDown h2 {
  margin-top: 36px;
  font-weight: 400;
  font-size: 1.6em;
  padding-top: 0.2em;
}

.reactMarkDown p {
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.reactMarkDown pre {
  background: rgba(14, 33, 39, 0.05);
  white-space: pre-wrap;
  border-radius: 3px;
  padding: 12px;
}

.reactMarkDown code {
  color: #0e2127;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 90%;
  line-height: 1.5em;
  padding: 2px 4px;
}

.reactMarkDown pre code {
  color: #273d56;
}

.reactMarkDown th,
td {
  padding-right: 10px;
  padding-bottom: 5px;
}
