.map-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
}

.sidebar {
  display: inline-flex;
  text-align: left;
  padding: 6px 12px;
  font-family: "Open-sans", sans-serif;
  z-index: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 80px;
  border-radius: 18px;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 20px;
  font-size: 18px;
  max-width: 100vw;

  @media (max-width: 900px) {
    margin-top: calc(100vh -66px);
  }
}

.hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.tooltip {
  font-size: 12px;
  line-height: 18px;
  max-width: 240px !important;
}

.display {
  display: block !important;
}

.box {
  flex: 1;
  min-height: 20px;
  min-width: 50px;
  text-align: center;
  padding: 2px 6px;
  font-size: large;
  margin-top: 10px;
}

.scale {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1 !important;
}

.toggle {
  flex-shrink: 0;
  cursor: pointer;
  color: #757d82;
  font-size: 12px;
  padding: 3px 18px;
  border-radius: 15px;
  /* fully round by default */
  background-color: transparent;
  transition: color 0.125s, background-color 0.125s;
}

.toggle-container > input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.toggle-container {
  max-width: 100%;
}

.toggle-group {
  display: inline-flex;
  text-align: center;
  border-radius: 18px;
  margin-right: 30px !important;
  margin-top: 12px !important;
  border-style: solid;
  border-width: 1px;
  border-width: 2px;
  border-color: white;
  background: white;
  z-index: 1;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.txt-s {
  font-size: 12px;
  line-height: 18px;
}

.py3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

input:checked + .toggle {
  background: rgba(40, 104, 130, 0.95);
  color: white;
}

input:checked + .toggle--active-white {
  color: white;
}

.date {
  display: inline-flex;
  position: "absolute";
  top: 50;
  left: 20;
  background-color: transparent;
}

.theme-color {
  color: rgba(40, 104, 130, 0.95);
}
